@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/poppins');
body{
    margin: 0;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
}
a{
    text-decoration: none;
}
header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
.list .item .content .des {
    font-size: 16px;
    font-weight: bold;
    font-family:Poppins;
    color: white;
}
/* barra de navegacao */
header a{
    color: #eee;
    margin-right: 40px;
}
/* Navegação no Cabeçalho */
header nav {
    position: absolute;
    top: 0px;
    left: 50%; /* Posiciona a partir do meio */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    display: flex;
    align-items: center;
    padding: 0; /* Remove o padding para evitar espaçamento extra */
    padding: 18px 20px; /* Ajuste o padding conforme necessário para aumentar o tamanho do fundo */
}

header nav a {
    letter-spacing: 1.8px;
    font-family: Poppins;
    margin-top: 5px;
    font-weight: bold;
    color: white;
    margin-right: 20px; /* Diminuído o espaço entre os links */
    font-size: 16px; /* Diminuído o tamanho da fonte */
    position: relative;
    transition: font-size 0.8s ease;
    font-family: 'Poppins';
}

/* Estilo dos Links de Navegação */
header nav a {
    position: relative; /* Certifique-se de que os links têm position: relative */
}

header nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background-color: #ff043a;
    transition: width 0.8s ease; /* Tempo de transição ajustado */
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

header nav a:hover::after {
    width: 100%; /* Preenche completamente ao passar o mouse */
}

header nav a:last-child {
    margin-right: 0; /* Remove a margem direita para o último botão */
}

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0; /* Comece com a largura zero */
    height: 5px;
    background-color: #ff043a;
    animation: fadeOut 1s ease-out forwards; /* Altere a duração conforme necessário */
}

@keyframes fadeOut {
    0% {
        width: 0; /* Comece com a largura zero */
        opacity: 1; /* Mantenha a opacidade completa */
    }
    100% {
        width: 100%; /* Termine com a largura total */
        opacity: 1; /* Mantenha a opacidade completa */
    }
}

/* Efeito da Barra sob o Link ao Passar o Mouse */
header nav a:hover::after {
    width: 100%;
}

header .menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.banner {
    text-align: center;
}

.banner h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4em;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.banner .btn {
    background-color: #ff043a;
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 0.9em;
    transition: transform 0.3s ease;
}

.banner .btn:hover {
    transform: scale(1.1);
}
/* carousel */
.carousel{
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author{
    font-weight: bold;
    letter-spacing: 10px;
}
.carousel .list .item .title,
.carousel .list .item .topic{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .list .item .topic{
    color: #ff043a;
    margin-top: -28px;
}
.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .item .buttons button{
    font-size: 10px;
    border: none;
    background-color: #000066;
    letter-spacing: 3px;
    color: white;
    font-family: Poppins;
    font-weight: bold;
    border-radius: 5px;
}
.carousel .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
    font-weight: bold;
}
.carousel .list .item .buttons button:hover {
    background-color: #ff043a; /* Altere para a cor desejada ao passar o mouse */
    transform: translateY(-5px); /* Adiciona um efeito de elevação */
}

.carousel .list .item .buttons button:active {
    background-color: #ff043a; /* Altere para a cor desejada ao clicar */
    transform: scale(0.80); /* Diminui um pouco o tamanho ao clicar */
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff043a;
    border: none;
    color: white;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}


@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #ff043a;
    left: 0;
    top: 0;
}
.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 6s linear 2 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}
/*info adicionais*/

/* mobile */
/* Mobile até 768px */
@media screen and (max-width: 768px) {
    header nav {
        margin-top: 5px;
        margin-left: auto; /* Define margem automática à esquerda */
        margin-right: auto; /* Define margem automática à direita */
        max-width: 100%; /* Define uma largura máxima para a barra de navegação */
        padding: 15px 20px; /* Adiciona preenchimento apenas nos lados esquerdo e direito */
    }

    header nav a {
        margin: 0 10px;
        font-size: 8.5px;
        white-space: nowrap; /* Impede a quebra de linha */
        text-align: center;
    }
    /* Adiciona a animação de mudança de cor ao clicar */
    header nav.mobile a:active {
        color: #e70303; /* Cor alterada ao clicar */
    }

    .carousel .list .item .content .author {
        font-size: 9px;
    }
    .carousel .list .item .content .title {
        font-size: 24px;
    }
    .carousel .list .item .content .topic {
        font-size: 28px;
        margin-top: 0.01px;
    }
    .carousel .list .item .content .des {
        font-size: 13px;
    }
    .carousel .list .item .content .buttons button {
        font-size: 10px;
    }
}

/* mobile-final */